.login-main-container {
  width: 90vw !important;
  height: 100vh !important;
  overflow: hidden;
}

.loginCard {
  top: 5%;
  left: 10%;
  width: 90% !important;
  height: 90% !important;
  justify-items: center;
  border: none;
  position: relative;
  backdrop-filter: blur(7px);
}

.loginFormCard {
  background-color: #fffefb !important;

}

.welcomeHeader {
  font-weight: 600;
}

.buttonBorder {
  border-radius: 40px !important;
}

.textGray {
  color: rgb(151, 151, 151);
}

/* Custom styles for sidebar and header */
.sidebar {
  background-color: #FFFFFF;
  /* Restaurant theme color */
  height: 100vh;
  transition: width 0.3s ease;
  width: 250px;
  border-right: 1px solid rgb(164, 163, 163);
}

.sidebar.shrink {
  width: 4%;
}

.sidebar .menu-icon {
  display: inline-block;
}

.sidebar.shrink .menu-icon {
  display: inline-block;
}

.sidebar .menu-text {
  display: inline-block;
  margin-left: 10px;
}

.main-content {
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.header {
  background-color: #FC8019;
  /* Restaurant theme color */
  color: #FFFFFF;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-style {
  font-size: 30px;
  font-weight: 900;
  /* Still include bold if applicable */
}

.icon-style:hover {
  cursor: pointer;
}

.footer {
  background-color: #FFFFFF;
  /* Restaurant theme color */
  color: rgb(165, 165, 165);
  padding: 15px;
  text-align: center;
  border: 1px solid rgb(175, 174, 174);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

.profile-container {
  position: relative;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  /* Adjust based on your layout */
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.dropdown-menu .btn {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.nav-item {
  font-size: large !important;
  font-weight: 600;
}

.userName {
  color: #FFFFFF;
  font-size: larger;
  font-weight: 600;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.navColors{
  color:  gray !important;
}

.navColors:hover {
  background-color: #FC8019; /* Hover background color */
  color: #FFFFFF !important; /* Hover text and icon color */
  border-radius: 3px !important;
  transform: scale(1.07); /* Zoom effect */
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}


.nav-link.active {
  background-color: #FC8019; /* Active background color */
  color: #FFFFFF !important; /* Active text and icon color */
  border-radius: 3px !important;

}

.nav-link .menu-text {
  margin-left: 10px;
}


/*-------------------------------------------MENU----------------------------------------------*/
.menu .input-group-text {
  background-color: #FC8019;
  color: #fff;
  border-radius: 5px 0 0 5px;
}

.menu .form-control {
  border-radius: 0 5px 5px 0;
}

.menu .card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease;
}

.menu .card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.menu .card-img-top {
  max-height: 100px;
  object-fit:contain;
  margin-bottom: 10px;
}

.menu .btn ,.mainButton{
  background-color: #FC8019;
  color: #fff;
  border-radius: 5px;
}
.mainButtonCancel{
  background-color: rgb(161, 159, 159);
  color: #fff;
  border-radius: 5px;
}

.mainButtonCancel:hover{
  border-color: white;
}

.mainButton:hover{
  border-color: white;
}

.menu .input-group {
  margin-bottom: 20px;
}

.menu .card-body {
  text-align: center;
}

.menu-row {
  min-height: 60vh;
  overflow-y: auto;
}

.menu h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.menuheader,.menuName{
  color: #FC8019 !important;
  font-weight: bolder;
}

.menuName{
  font-size:medium;
}

.menuPrice{
  font-weight: 600;
  color: #a3a2a2;
  font-size: small;
}

/* ------------------------------------------------ADD MENU ------------------------------------------*/

.modal-header {
  border-bottom: 1px solid #ddd;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: 1px solid #ddd;
}
.add-menu-popup{
  padding-top: 10% !important;
}
/*------------------------------------------------- Conformation popup -------------------------------*/
.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.custom-modal {
  z-index: 1050;
}

.custom-modal-title {
  color: orange;
  font-weight: 600;
}

.custom-modal-text {
  color: gray;
}

.custom-close-icon {
  color: gray;
  opacity: 0.8;
}

.custom-close-icon:hover {
  color: orange;
  opacity: 1;
}

.custom-confirm-btn {
  background-color: orange !important;
  color: white !important;
  border: none;
  width: 100px;
}

.custom-confirm-btn:hover {
  background-color: darkorange !important;
}

.custom-cancel-btn {
  background-color: gray !important;
  color: white !important;
  border: none;
  width: 100px;

}

.custom-cancel-btn:hover {
  background-color: darkgray !important;
}
.custom-modal {
  padding-top: 18% !important;
}
